.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 5px;
  border: 1px solid #888;
  width: 40%;
  position: relative;
  top: 20%;
  border-radius: 20px;
  background-color: rgba(162, 211, 28);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.601);
}

.modal-view > p {
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 24px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.32);
}

@font-face {
  font-family: RickAndMorty;
  src: url(/src/get_schwifty.ttf);
}

.name {
  font-family: RickAndMorty !important;
  font-size: 30px !important;
  color: black !important;
}
