@font-face {
  font-family: RickAndMorty;
  src: url(/src/get_schwifty.ttf);
}

.loading {
  background-color: rgb(118, 68, 138);
  display: flex;
  flex-direction: column;
  height: 300px;
  /* justify-content: center; */
  align-items: center;
  padding-top: 150px;
}

.overlay {
  position: absolute;
  /* height: 100rem !important; */
  width: 100%;
  z-index: 2;
  margin-left: -100px;
  background-color: rgba(137, 97, 137, 0.444) !important;
}
.loading img {
  width: 130px;
  height: 130px;
  will-change: transform;
  animation: spin 3s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading p {
  font-size: 30px;
  font-family: RickAndMorty;
  color: rgb(175, 255, 70);
  -webkit-text-stroke: 1px rgb(14, 37, 36);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.637);
}
