@font-face {
  font-family: RickAndMorty;
  src: url(/src/get_schwifty.ttf);
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(81, 46, 95); /*buttons*/
  padding: 20px;
}

.button-box {
  width: 70%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.number-box {
  width: 300px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.page-button {
  /* font-family: RickAndMorty; */
  color: rgb(175, 255, 70);
  background-color: rgb(0, 153, 140);
  padding: 15px;
  width: 60px;
  border-radius: 20px;
  margin: 0 10px 0 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.801);
  /* -webkit-text-stroke: 1px rgb(14, 37, 36); */
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.637);
  border: solid 1px;
}

.page-button:hover:not(:disabled) {
  box-shadow: 3px 3px 5px rgb(121, 179, 13);
  text-shadow: 4px 4px 4px rgba(206, 209, 26, 0.637);
  background-color: rgba(1, 204, 187, 0.767);
  cursor: pointer;
}

.page-button:disabled {
  background-color: rgb(0, 80, 73);
  color: rgb(26, 46, 1);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.637);
}

.page-button img {
  width: 26px;
  height: 26px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.637));
}

.page-button:hover:not(:disabled) img {
  filter: drop-shadow(4px 4px 4px rgba(206, 209, 26, 0.637));
}

.page-button:disabled img {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.637)) brightness(0.5);
}
.page-number {
  font-family: RickAndMorty;
  color: rgb(175, 255, 70);
  font-size: 20px;
  padding: 10px;
  /* margin: 0 10px 0 10px; */
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.637);
}

.page-number:hover:not(:disabled) {
  text-shadow: 4px 4px 4px rgba(206, 209, 26, 0.637);
  /* background-color: rgba(1, 204, 187, 0.767); */
  cursor: pointer;
}

.active {
  font-size: 35px !important;
  -webkit-text-stroke: 1px rgb(14, 37, 36);
  text-shadow: 4px 4px 4px rgba(206, 209, 26, 0.637) !important;
  cursor: default !important;
}
