@font-face {
  font-family: RickAndMorty;
  src: url(get_schwifty.ttf);
}

body {
  font-family: RickAndMorty;
  height: 100vh;
  background-color: rgb(118, 68, 138);
}

.hidden {
  display: none !important;
}

.replacer {
  height: 100px;
  background-color: rgb(118, 68, 138);
}

.list {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-rows: auto;
  background-color: rgb(81, 46, 95);
  padding-left: 100px;
  padding-right: 100px;
}

.card {
  height: 450px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-flow: column;
  margin: 20px;
  background-color: rgb(0, 153, 140);
  padding: 10px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.601);
  border: solid 3px rgb(14, 37, 36);
}

.card > img {
  height: 280px;
  border-radius: 10px;
  border: solid 3px rgb(121, 179, 13);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.601);
}
.card > div {
  height: 50px !important;
}

.card:hover {
  box-shadow: 5px 5px 5px rgb(121, 179, 13);
  cursor: pointer;
}
@font-face {
  font-family: RickAndMorty;
  src: url(/src/get_schwifty.ttf);
}

#name {
  font-family: RickAndMorty !important;
  margin-top: 30px !important;
  font-size: 25px !important;
}
