@font-face {
  font-family: RickAndMorty;
  src: url(get_schwifty.ttf);
}

body {
  font-family: RickAndMorty;
}

.hidden {
  display: none !important;
}

.replacer {
  height: 110px;
  background-color: rgb(81, 46, 95);
}
